.nav {
	background-color: yellow;
	overflow: hidden;
	

}
.nav a{
	
	float: center;
	color: black;
	text-align: center;
	padding: 15px;
	font-size: 28;
	
}
.nav a:hover {
	background-color: Black;
	color: white;
	}
.nav a.active {
	color: red;
	background-color: #379ED9;
	
}
body {
	background-color:Black;
	background-image: url(glock.jpeg);
	background-position: center;
	background-size: cover;

}
